body {
	background-color: black;
/*	-webkit-animation-name: example; /* Chrome, Safari, Opera */
/*	-webkit-animation-duration: 15; /* Chrome, Safari, Opera */
	/*animation-name: example;
	animation-duration: 15s;
	animation-iteration-count: infinite;
*/
	}

/* Chrome, Safari, Opera */
/*
@-webkit-keyframes example {
	0% {
	background-color: #2d5a66;
	}
	25% {
	background-color: #554593;
	}
	50% {
	background-color: #292977;
	}
	100% {
	background-color: #2d5a66;
	}
}

/* Standard syntax */
/*@keyframes example {
	0% {
	background-color: #2d5a66;
	}
	25% {
	background-color: #554593;
	}
	50% {
	background-color: #292977;
	}
	100% {
	background-color: #2d5a66;
	}
}
*/
#sms {
	width: 300px; 
	height: 50px; 
	font-size: 24px; 
	text-align: center; 
	font-family: monospace; 
	border: 1px solid rgb(255, 255, 255); 
	background-color: rgba(255, 0, 0, 0.13); 
	color: white;
}

h1 {
	font-family: Geneva,Arial,Helvetica,sans-serif;
	color: white
}	

#result {
		font-size: 72px; 
		color: white
}

#ent {
	
}